:root {
    --var-Header-Height: 5rem;
    --var-Banner-Height: 2rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* max-width: 100%; */
    max-height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

/******************************************************
Elements
*******************************************************/
header {
    width: 100%;
    max-height: calc(var(--var-Header-Height) + var(--var-Banner-Height));
    padding: .2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
}

header div {
    max-height: var(--var-Header-Height);
    max-width: 50%;
}

header div nav {
    margin: auto 0;
}

header div nav ul,
header div nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 100%;
}

nav a {
    text-decoration: none;
    margin: 0 1.5rem;
    font-size: 1.25rem;
}

nav a:hover, nav a:focus {
    text-decoration: underline;
}

nav a:active {
    font-weight: bolder;
}

main {
    text-align: center;
    margin: calc(var(--var-Header-Height) + var(--var-Banner-Height) + 2rem) 5%;
    display: inline-block;
    width: 90%
}

article {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}

article section {
    padding: 2rem;
}

article section img {
    max-width: 100%;
}

footer {
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 100%;
    text-align: center;
}

p {
    margin-bottom: 2rem;
}

p:last-of-type {
    margin-bottom: 0rem;
}

/*******************************************************
Styles
********************************************************/
.header-box {
    margin: auto 0;
}

/*******************************************************
IDs
********************************************************/
#Logo {
    max-height: 100%;
    max-width: 100%;
    border-width: 5px;
    border-style: solid;
    border-radius: 80%;
    float: left;
    width: auto;
    height: auto;
}

#Site-Banner {
    /* display: none; */
    width: 100%;
    text-align: center;
    max-height: var(--var-Banner-Height);
}

/******************************************************
Media Queries
*******************************************************/
@media screen and (width < 500px) {
    h1 {
        display: none;
    }

    article  {
        flex-direction: column;
    }
}